<div ng-controller="allWGsController as allWGsCtrl" class="row">
    <h3 translate="APP_TITLE"></h3>
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>WGs</strong></div>
        <div class="panel-body">
            <table class="table table-striped table-hover">
                <thead>
                    <th translate="WGS_WG"></th>
                    <th translate="WGS_STREET"></th>
                    <th translate="WGS_CITY"></th>
                    <th></th>
                </thead>
                <tbody>
                <tr ng-repeat="wg in allWGsCtrl.wgs">
                    <td>
                        <span editable-text="wg.name" e-name="name" e-form="rowform" e-required>
                          <a ui-sref="app.wg({wgID:'{{wg._id}}'})">{{wg.name}}</a>
                        </span>
                    </td>
                    <td>
                        <span editable-text="wg.street" e-name="street" e-form="rowform" e-required>{{wg.street}}</span>
                    </td>
                    <td><span editable-text="wg.city" e-name="city" e-form="rowform" e-required>{{wg.city}}</span></td>
                    <td>
                        <!-- form -->
                        <form editable-form name="rowform" onbeforesave="allWGsCtrl.updateWG(wg._id, $data)" ng-show="rowform.$visible" class="form-inline" shown="inserted == wg._id">
                          <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            <span
                            class="glyphicon glyphicon-ok"></span><span class="hidden-xs" translate="SAVE"></span>
                                    </button>
                          </button>
                          <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            <span
                            class="glyphicon glyphicon-remove"></span><span class="hidden-xs" translate="CANCEL"></span>
                          </button>
                        </form>
                
                        <div ng-show="!rowform.$visible">
                            <button class="btn btn-active" ng-click="rowform.$show()"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger" ng-click="allWGsCtrl.deleteWG(wg._id)"><span class="glyphicon glyphicon-trash"></span></button>
                            <button class="btn btn-success" ng-show="!allWGsCtrl.user.wg" title="Einschreiben" ng-click="allWGsCtrl.registerForWg(wg._id)"><span class="glyphicon glyphicon-pushpin"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <button ng-hide="allWGsCtrl.showNewItem" class="btn btn-primary" ng-click="allWGsCtrl.newItem()">
                <span class="glyphicon glyphicon-plus"></span><span translate="WGS_ADD"></span>
            </button>
            <form class="form-inline new-form">
                <div class="form-group" ng-show="allWGsCtrl.showNewItem">
                    <h4 translate="WGS_ADD"></h4>

                    <div class="input-group">
                        <span class="input-group-addon" translate="WGS_NAME"></span>
                        <input type="text" class="form-control" placeholder="Im Fernsehturm"
                               ng-model="allWGsCtrl.newWG.name">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" translate="WGS_STREET"></span>
                        <input type="text" class="form-control" placeholder="Alexanderplatz"
                               ng-model="allWGsCtrl.newWG.street">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" translate="WGS_CITY"></span>
                        <input type="text" class="form-control" placeholder="Berlin" ng-model="allWGsCtrl.newWG.city">
                    </div>
                    <div>
                        <button class="btn btn-primary" ng-click="allWGsCtrl.addNewWG()" translate="WGS_ADD_CONFIRM"></button>
                        <button class="btn" ng-click="allWGsCtrl.cancelAddingNewWG()" translate="CANCEL"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>