<nav class="navbar navbar-default" style="margin-bottom:0px!important">
    <!--<div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ui-sref="app.wgs">WG-Verwaltung</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="app.wgs">Alle WGs</a></li>
                <li><a ui-sref="app.profile">Mein Profil</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">About</li>
                        <li><a href="#">Development</a></li>
                        <li><a ui-sref="app.impressum">Impressum</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="https://github.com/LuiSlacker/angular-wg-management" target="_blank">Fork project on Github</a></li>
                    </ul>
                </li>
                <li><a ui-sref="login">Logout</a></li>
            </ul>

        </div>
    <!--</div>-->
</nav>

<div ui-view></div>

<div class="chat-box" ng-controller="ChatController">
    <input type="checkbox" />
    <label data-expanded="Close Chat" data-collapsed="Open Chat"></label>

    <div class="chat-box-content">
        <div class="{{message.class}}" ng-repeat="message in messages track by $index">{{message.msg}}</div>
        <div class="chat-input-group">
            <input type="text" id='text' class="form-control-sm" ng-model="newlyTypedMessage"/>
            <button class="btn btn-sm btn-primary" data-ng-click="sendMsg()"><i class="glyphicon glyphicon-send"></i></button>
        </div>
    </div>
</div>

<!--<footer class="footer">
    <div class="container">
        <p class="text-muted">© 2016 Katia, Ludwig @ HTW Berlin</p>
    </div>
</footer>-->