<div ng-controller="singleWGController as singleWGCtrl">
   <h3 class="ng-binding">{{singleWGCtrl.wg.name}} 
    <button ng-show="singleWGCtrl.user.wg == singleWGCtrl.wgID" ng-click="singleWGCtrl.unRegisterFromWg()" style="" class="left btn btn-danger"><span class="glyphicon glyphicon-eject"></span></button>
    </h3>

    <div style="clear:both" class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>WG Mitglieder</strong></div>
                <div class="panel-body">
                    <ul>
                        <li ng-repeat="member in singleWGCtrl.members track by $index">{{member.local.username}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Einkaufslisten</strong></div>
                <div class="panel-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <th>Einkaufsliste</th>
                            <th>Initiator</th>
                            <th>Erstellt am</th>
                            <th></th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="sl in singleWGCtrl.shoppinglists">
                            <td>
                                <span editable-text="sl.name" e-form="rowform" e-required>
                                  <a ui-sref="app.shoppinglist({shoppinglistID: '{{sl._id}}', wgID: '{{singleWGCtrl.wgID}}'})">{{sl.name}}</a>
                                </span>
                            </td>
                            <td><span editable-text="sl.initiator" e-form="rowform" e-readonly>{{sl.initiator}}</span></td>
                            <td><span editable-text="sl.date" e-form="rowform" e-readonly>{{sl.date | date: 'MM/dd/yyyy @ h:mma'}}</span></td>
                            <td>
                                <!-- form -->
                                <form editable-form name="rowform" ng-show="rowform.$visible"
                                      onbeforesave="singleWGCtrl.updateShoppinglist(sl._id, $data)"
                                      class="form-inline" shown="inserted == sl._id">
                                    <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                                        <span
                            class="glyphicon glyphicon-ok"></span><span class="hidden-xs"> Speichern</span>
                                    </button>
                                    <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                                            class="btn btn-default">
                                            <span
                            class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Abbrechen</span>
                                    </button>
                                </form>

                                <div ng-show="!rowform.$visible">
                                    <button class="btn btn-active" ng-click="rowform.$show()"><span
                                            class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button class="btn btn-danger"
                                            ng-click="singleWGCtrl.deleteShoppinglist(sl._id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button ng-hide="singleWGCtrl.showNewItem" class="btn btn-primary"
                            ng-click="singleWGCtrl.newItem()"><span
                            class="glyphicon glyphicon-plus"></span> Neue Liste hinzufügen
                    </button>
                    <div class="new-form" ng-show="singleWGCtrl.showNewItem">
                        <h4>Neue Einkaufsliste anlegen</h4>

                        <div class="input-group">
                            <span class="input-group-addon">Name der Einkaufsliste</span>
                            <input type="text" class="form-control" placeholder="Neue Liste"
                                   ng-model="singleWGCtrl.newShoppinglist.name">
                        </div>
                        <div>
                            <button class="btn btn-primary" ng-click="singleWGCtrl.addNewShoppinglist()">Einkaufsliste
                                hinzufügen
                            </button>
                            <button class="btn" ng-click="singleWGCtrl.cancelAddingNewShoppinglist()">Abbrechen</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>