/* Custom CSS for WG Manager */


/* form buttons */
@media (max-width: 768px) {
	.btn {
		margin-bottom: 5px;
	}
}

.item-form button[type=submit] {
	margin-bottom: 5px;
}

/* xeditable forms responsive */
.editable-wrap {
    display:block;
    width: 100%;
    padding-right:10px;
}

.editable-wrap .editable-controls > input {
    display: inline-block;
    width: 100%;
}

.editable-wrap .editable-controls > input:read-only {
	border: 0;
    background-color: transparent;
}


/* CSS for new wg/sl/item forms */
.new-form .input-group {
	margin-bottom: 10px;
}

.new-form .input-group span {
	width: 20px;
}
