.addButton {
    margin: 0 auto;
    display: block;
}

.confirmButton {
    margin-top: 10px;
}
span{
    margin-left: 5px;
}
body{
    margin-bottom: 0px;
}

.input-group {
	margin-bottom: 10px;
}

.input-group span {
	width: 20px;
}